@import './test.vars.scss';

body {
  margin: 20px;
  color: white;
  font-family: $test-font-family;
  font-size: 24px;
  font-weight: 400;
  background-color: #1a1a1a;
}

.title {
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: 36px;
}

.webpack-logo {
  display: block;
  width: 256px;
  margin: 60px auto;
  animation: 5s linear 0s infinite rotating;
}

@keyframes rotating {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
