@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/quicksand-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v28-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
