@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/quicksand-v28-latin-regular.woff2') format('woff2'),
    url('../fonts/quicksand-v28-latin-regular.woff') format('woff');
}
